@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/godoFont_all/godoMaum.ttf") format("woff"), url("./fonts/godoFont_all/godoMaum.ttf") format("woff2");
}
@font-face {
  font-family: "Dongle";
  font-weight: normal;
  src: url("./fonts/Dongle/Dongle-Regular.ttf") format("woff"), url("./fonts/Dongle/Dongle-Regular.ttf") format("woff2");
}

body {
  font-size: 70%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
